@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-VariableFont_opsz,wght.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}


body {
    background-color: #fff;
}

.navigator {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    justify-content: space-around;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

.navigator .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 30px;
}

.navigator .section .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator .section .name {
    font-size: 18px;
    font-weight: bold;
}

.navigator .section.right {
    gap: 30px;
}

.navigator .section.right .item {
    color: #86898a;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    transition: font-weight 0.3s ease;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.screen_home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.screen_home .section.first {
    padding-top: 20vh;
    box-sizing: border-box;
    background: linear-gradient(140deg, #b2d7ff 0%, #ffffff 100%);
    padding-bottom: 5vh;
}

.screen_home .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.screen_home .section .innerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.screen_home .section .innerRow .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 30%;

}

.screen_home .section .innerRow .left.width40 {
    max-width: 100%;
}

.screen_home .section .innerRow .left .banner {
    text-transform: uppercase;
    background-color: #d8edf2;
    color: #58b5a8;
    box-sizing: border-box;
    padding: 10px 15px;
    max-width: 300px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}

.screen_home .section .innerRow .left .largeName {
    font-size: 40px;
    font-weight: bold;
    color: #203988;
}

.screen_home .section .innerRow .left .learnMoreTitle {
    font-size: 30px;
    font-weight: bold;
    color: #203988;
}


.screen_home .section .innerRow .left .short_description {
    font-size: 16px;
    color: #656f77;
}

.screen_home .section .innerRow .left .buttons_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.screen_home .section .innerRow .left .buttons_row .button,
.buttonExt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.buttonExt {
    padding: 10px 15px;
    font-size: 14px;
}

.screen_home .section .innerRow .left .buttons_row .button.book_appointment,
.buttonExt.book_appointment {
    background-color: #1d3a87;
    color: #fff;
}


.screen_home .section .innerRow .left .buttons_row .button.learnmore {
    background-color: transparent;
    border: 2px solid #1d3a87;
    color: #1d3a87;
}

.screen_home .section .innerRow .left .topSkills {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 30px;
}

.screen_home .section .innerRow .left .topSkills .skill {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.screen_home .section .innerRow .left .topSkills .skill .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF0EE;
    border-radius: 50%;
    flex-shrink: 0;
}

.screen_home .section .innerRow .left .topSkills .skill .icon svg {
    color: #5FA898;
    width: 20px;
    height: 20px;
}

.screen_home .section .innerRow .left .topSkills .skill .title {
    font-size: 18px;
    font-weight: bold;
    color: #1d3a87;
}

.screen_home .section .innerRow .left .topSkills .skill .description {
    font-size: 12px;
    color: #5D6969;
    text-align: center;
}

.screen_home .section .innerRow .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 30%;
    height: 100%;
}

.screen_home .section .innerRow .right .largeImage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.screen_home .section .innerRow .right .largeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

.screen_home .section .innerRow .right .largeImage .rating {
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    height: 100%;
    align-items: flex-end;
    display: none;
}

.screen_home .section .innerRow .right .largeImage .rating .box {
    width: 90%;
    background-color: #F9FBFA;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.screen_home .section .innerRow .right .largeImage .rating .box .icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0B9687;
}

.screen_home .section .innerRow .right .largeImage .rating .box .icon svg {
    width: 20px;
    height: 20px;
}

.screen_home .section .innerRow .right .largeImage .rating .box .icon img {
    width: 100%;
    height: 100%;
}

.screen_home .section .innerRow .right .largeImage .rating .box .nameAndRating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.screen_home .section .innerRow .right .largeImage .rating .box .nameAndRating .name {
    font-size: 16px;
    color: #3e53a0;
}

.screen_home .section .innerRow .right .largeImage .rating .box .nameAndRating .rate {
    font-size: 12px;
    color: #63676B;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-slide-up {
    animation: fadeInSlideUp 0.5s ease forwards;
}

@keyframes SlideDownfadeOut {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-out-slide-down {
    animation: SlideDownfadeOut 0.5s ease forwards;
}

.screen_home .section .innerRow.scroll {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}


.screen_home .section.first .innerRow.scroll svg .animate {
    animation: animateArrow 3s ease infinite;
    transform: translateY(20px);
}



@keyframes animateArrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0px);
    }
}

.screen_home .section.learnMore {
    gap: 10px;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 5vh;
    background-color: #EBF7F9;
}

.screen_home .section.services {
    gap: 10px;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 5vh;
    background-color: #ffffff;
}

.screen_home .section .aboutLabel {
    text-transform: uppercase;
    color: #58b5a8;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.screen_home .section .aboutTitle {
    font-size: 40px;
    font-weight: bold;
    color: #203988;
    text-align: center;
}

.screen_home .section .aboutDescription {
    font-size: 16px;
    color: #656f77;
    text-align: center;
    box-sizing: border-box;
    padding-left: 30%;
    padding-right: 30%;
}

.screen_home .section.learnMore .innerRow.first {
    margin-top: 50px;
}

.screen_home .section.services .innerRow.services {
    gap: 10px;
    margin-top: 25px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1078px;
    min-width: 40%;
    gap: 25px;
    box-sizing: border-box;
}

.screen_home .section.services .innerRow.steps {
    gap: 10px;
    margin-top: 25px;
    background: linear-gradient(140deg, #1b3b7f 0%, #10847e 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1078px;
    min-width: 40%;
    padding: 30px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
}

.screen_home .section.services .innerRow.steps .header {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.screen_home .section.services .innerRow.steps .stepsDesc {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.screen_home .section.services .innerRow.steps .stepsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 10px;
}

.screen_home .section.services .innerRow.steps .stepsContainer .step {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.screen_home .section.services .innerRow.steps .stepsContainer .step .number {
    font-size: 40px;
    color: #ffffff71;
}

.screen_home .section.services .innerRow.steps .stepsContainer .step .stepName {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.screen_home .section.services .innerRow.steps .stepsContainer .step .stepDesc {
    font-size: 14px;
    color: #fff;
}

.screen_home .section.services .innerRow.services .service {
    background: linear-gradient(140deg, #b2d7ff 0%, #b8ffb23a 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    gap: 10px;
    height: 100%;
}

.screen_home .section.services .innerRow.services .service .itemDescription {
    font-size: 14px;
    color: #656565;
}

.screen_home .section.services .innerRow.services .service ul {
    margin-bottom: 10px;
}

.screen_home .section.services .innerRow.services .service .iconBox {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    background-color: #DDF0EE;
    color: #5FA898;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.screen_home .section.services .innerRow.services .service .iconBox svg {
    width: 25px;
    height: 25px;
}

.screen_home .section.services .innerRow.services .service .infoTitle {
    color: #203988;
    font-weight: bold;
    font-size: 16px;
}


.screen_home .section.learnMore .moreInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1078px;
    min-width: 40%;
    gap: 50px;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.screen_home .section.learnMore .moreInfo .informationBox {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.screen_home .section.learnMore .moreInfo .informationBox .iconBox {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    background-color: #DDF0EE;
    color: #5FA898;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.screen_home .section.learnMore .moreInfo .informationBox .iconBox svg {
    width: 25px;
    height: 25px;

}

.screen_home .section.learnMore .moreInfo .informationBox .infoTitle {
    color: #203988;
    font-weight: bold;
    font-size: 16px;
}


ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;

}

li {
    margin-top: 7.5px;
    font-size: 14px;
    text-align: left;
    color: #656565;
    text-indent: -15px;
    margin-left: 10px;
}

.blog-content li {
    font-size: 16px !important;

}

.blog-content strong {
    color: #203988;

}

@media (max-width: 768px) {
    li {
        font-size: 14px;
    }
}

li:before {
    content: '•';
    float: left;
    margin-right: 15px;
    color: #0074D9;
}

.learnMoreButton {
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: transparent;
    border: 2px solid #1d3a87;
    color: #1d3a87;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    width: 195px;
    margin-top: auto;
}

.learnMoreButton.evx {
    margin-top: 15px;
    font-size: 18px;
}

.mobile-menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.mobile-menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #203988;
    margin: 2px 0;
    transition: 0.3s;
    border-radius: 2px;
}

.mobile-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    padding: 20px;
    transform: translateY(-100vh);
    transition: transform 0.3s ease;
    z-index: 2;
}

.mobile-menu .mobile-item {
    padding: 18px 0;
    border-bottom: 1px solid #f0f0f0;
    color: #86898a;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    min-height: 44px;
    display: flex;
    align-items: center;
}

.mobile-menu .mobile-item:hover {
    color: #203988;
    font-weight: bold;
}

.mobile-menu .mobile-item:last-child {
    border-bottom: none;
}

.mobile-menu.active {
    display: block;
    transform: translateY(0);

}

.footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
    color: #5D6969;
    font-size: 14px;
    text-align: center;
    z-index: 999;
}

.evxWarning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #fff;
    gap: 10px;
    display: none;
}

.evxWarning .evxTitle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.evxWarning .evxDesc {
    text-align: center;
    font-size: 18px;
}

.evxWarning .evxBtnLabel {
    text-align: center;
    font-size: 13px;
    color: #5D6969;
}

.innerRow.book {
    margin-top: 25px;
    width: 100%;
}

.section.contact {
    gap: 10px;
    width: 100%;
    height: auto;
    padding-bottom: 20vh;
    background-color: #ffffff;
    padding-top: 20vh;
    box-sizing: border-box;
    background: linear-gradient(140deg, #b2d7ff 0%, #ffffff 100%);
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.cards .card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 20px;
    gap: 10px;
    width: 100%;
    height: 200px;
    min-width: 200px;

}

.cards .card .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF0EE;
    border-radius: 12px;
    flex-shrink: 0;
}

.cards .card .icon svg {
    color: #5FA898;
    width: 20px;
    height: 20px;
}

.cards .card .title {
    font-size: 18px;
    font-weight: bold;
    color: #1d3a87;
}

.cards .card .description {
    margin-top: auto;
    font-size: 14px;
    color: #5D6969;
}

.book_online {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    max-height: 515px;
}

.book_online .title {
    font-size: 18px;
    font-weight: bold;
    color: #1d3a87;
}

.book_online .description {
    font-size: 14px;
    color: #5D6969;
}

.book_online .requirements {
    font-size: 14px;
    font-weight: bold;
    color: #1d3a87;
}

.book_online .requirements_tags {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.book_online .requirements_tags .requirement_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;

}

.book_online .requirements_tags .requirement_tag:nth-child(3) {
    background-color: #ecf3fe;
    color: #1551bc;
}

.book_online .requirements_tags .requirement_tag:nth-child(2) {
    background-color: #ecfdf3;
    color: #20844b;
}


.book_online .requirements_tags .requirement_tag:nth-child(1) {
    background-color: transparent;
    border: 2px solid #e3e4e3;
    color: #000;
}

.left.book {
    max-width: 27% !important;
    height: 100%;
}

.buttons_book {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.buttons_book .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 25px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;

}

.buttons_book .button:nth-child(2) {
    background-color: transparent;
    border: 2px solid #1d3a87;
    color: #1d3a87;
}

.buttons_book .button:nth-child(1) {
    background-color: #1d3a87;
    border: 2px solid #1d3a87;

    color: #fff;
}

.locationBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 20px;
}

.locationBox .gradient {
    background: linear-gradient(0deg, #cde5ff 0%, #cde5ffc0 50%, #ffffff00 100%);

    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.locationBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 0;
}

.locationBox .contents {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.locationBox .contents .title {
    font-size: 18px;
    font-weight: bold;
    color: #1d3a87;
    margin-top: auto;
}

.locationBox .contents .description {
    font-size: 14px;
    color: #5D6969;
}

.locationBox .contents .get_directions_btn {
    font-size: 14px;
    color: #1d3a87;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.phone {
    color: #1d3a87;
    font-weight: bold;
}

.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    transition: backdrop-filter 0.3s ease;
}

.popup-container .popup {
    width: 40%;
    height: 70%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    transition: transform 0.3s ease ;
}

.popup-container .popup:nth-child(1) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popup-container .popup:nth-child(2) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.popup-container .popup.nobg {
    max-width: 400px;
    justify-content: center;
    
}

.popup-container .popup .blog-title {
    font-size: 20px;
    font-weight: bold;
    color: #1d3a87;
}
.popup-container .popup .blog-image {
    width: 100%;
    max-height: 300px;
}
.popup-container .popup .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.popup-container .popup .blog-content {
    font-size: 16px;
    color: #000;
}

/* Entire scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #1d398723;
    border-radius: 12px;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.popup .actions {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    justify-content: flex-end;
}
.popup .actions .close_btn {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #1d398728;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}