html,
body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eaeaea;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.screen {
  width: 100%;
  height: 100%;
  margin-top: env(safe-area-inset-top);
}

.ontop {
  margin-top: env(safe-area-inset-top);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease;

  display: none;
}

.branding {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
  font-size: 23px;
}

.branding img {
  width: 33px;
  height: 33px;
}

.showcase {
  margin-top: auto;
  position: relative;
}

.showcase img#showcase {
  width: 100%;
  object-fit: cover;
  height: 700px;
  opacity: 0;
  transform: translateY(50vh);
  transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
}

.showcase .bottomFade {
  position: absolute;
  bottom: calc(30% + env(safe-area-inset-bottom));
  left: 0;
  right: 0;
  height: 150px;
  /* fade height */
  background: linear-gradient(to top,
      #eaeaea,
      rgba(255, 255, 255, 0));
  pointer-events: none;
}

.showcase .bottomDiv {
  position: absolute;
  bottom: env(safe-area-inset-bottom);
  height: calc(30%);
  /* still 40% of container height */
  width: 100%;
  background-color: #eaeaea;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}


.showcase .bottomDiv h2 {
  font-size: 24px;
  padding-right: 20px;
  box-sizing: border-box;
}

.showcase .bottomDiv span {
  font-size: 15px;
  color: #625c5f;
}

.continueWithBtn {
  margin-top: auto;
  width: 100%;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.continueWithBtn img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.screen.home {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.screen .WelcomeAndMainInfo {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  background-color: #191116;
  width: 100%;
  height: auto;
  border-radius: 20px;
  color: #fff;
  padding: 18px 0;
  box-sizing: border-box;
}

.screen .WelcomeAndMainInfo .infoSection {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.screen .WelcomeAndMainInfo .infoSection.normal {
  justify-content: flex-start;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img.profilePicture {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}

.generalColumn {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
}

.alignCenter {
  align-items: center;
  justify-content: center;
}

span.greeting {
  font-size: 13px;
  color: #989396;
}

p.greeting_username {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.divider {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.roundedButton {
  width: 45px;
  height: 45px;
  background-color: #201f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.roundedButton.actionButton {
  background: linear-gradient(to right, #ffffff 0%, #eaeaea 100%);
}

.balance_label {
  font-size: 13px;
  color: #989396;
}

.balance {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
}

.balance .cents {
  font-size: 15px;
}

.gap5 {
  gap: 5px;
}

.actionButtonLabel {
  font-size: 11px;
}

.gap15 {
  gap: 15px;
}

.bottomPart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textRow {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.textRow p {
  font-weight: bold;
}

.textRow .showall {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}

.feedSpawner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

.feedAction {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  gap: 10px;
  padding: 11px;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;
}

.feedActionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #eceffe;
  font-size: 25px;
}

.feedActionIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.debt {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 130px;
}

.debt .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.debt .col p:nth-child(1) {
  font-weight: bold;
}

.debt .col p:nth-child(2) {
  font-size: 14px;
}

.mgtop20 {
  margin-top: 20px;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.absoluteCenter.loading {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.absoluteCenter.loading h2 {
  font-size: 18px;
}

.absoluteCenter.loading .normalLoader {
  border: 1px solid #191116;
  border-left-color: transparent;
}

.popup {
  background-color: #eaeaea;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
  border-radius: 20px 20px 0 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(100vh);
  transition: transform 0.5s ease;
  color: #191116;
  gap: 20px;
  z-index:999;
}

.popup.active {
  transform: translateY(0);
}

.notch {
  width: 80px;
  height: 5px;
  background-color: #191116;
  border-radius: 10px;
}

.stepsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.stepsContainer .steps {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px;
  transition: opacity 0.3s ease;
}

.stepsContainer .steps .step {
  height: 6.5px;
  width: 100%;
  background-color: #625c5f;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.stepsContainer .steps .step.active {
  background-color: #191116;
}

.stepsContainer .stepIndicator {
  color: #191116;
  font-size: 14px;
  transition: opacity 0.3s ease;

}

.stepInfo {

  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  gap: 5px;
}

.stepInfo h3 {
  font-size: 20px;
  font-weight: bold;
}

.stepInfo span {
  font-size: 14px;
  color: #625c5f;
}

.moneyCount {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moneyCount.nomarg {
  margin-top: 0;
}

.counter {
  display: flex;
}

.digit {
  position: relative;
  width: 1ch;
  height: 1em;
  overflow: hidden;
}

.digit span {
  display: block;
  line-height: 1em;
  transition: transform 0.5s ease-in-out;
}

.digit.new {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.padContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.padContainer .line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.padContainer .line .pad.fullWidth {
  width: 260px;
  font-size: 17px;
  height: 50px;
}

.padContainer .line .pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  background-color: #eceffe;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 12.5px;
  font-size: 22px;
  font-weight: bold;
}

.container-requirements {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}


.requirement {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #eceffe;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 12.5px;
  font-size: 18px;
  font-weight: normal;
  padding: 12px 17px;
  gap: 10px;
}

.requirement.center {
  justify-content: center;
}

.requirement .reqName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.requirement .cost {
  margin-left: auto;
  flex-shrink: 0;
  font-weight: bold;
}

.requirement .recommend {
  font-size: 14px;
  background-color: rgb(0 255 0 / 50%);
  border-radius: 10px;
  display: flex;
  padding: 5px 10px;
  box-sizing: border-box;
}

.container-getMoney {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.bottomContinue {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

.bottomContinue .btn {
  width: 100%;
  padding: 10px;
  background-color: #eceffe;
  border: 1px solid #fff;
  border-radius: 12.5px;
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.setupSection {
  display: none;
}


.setupSection.active {
  display: block;
}

.moneyEstimate {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: opacity 0.3s ease;
}

.moneyEstimate p.head {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.reqInput {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  font-size: 18px;
  color: #191116;
  font-weight: normal;
}

.reqInput.bold {
  font-weight: bold;
}

.emoji {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}